html{
    scroll-behavior: smooth;
}



body{
    margin: 0;

}

div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:nth-child(1){
    background-color: rgb(4, 100, 255)

}


div:nth-child(2){
    background-color: rgb(25, 241, 133)

}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}